<div class="offcanvas offcanvas-bottom" tabindex="-1" id="canvas" aria-labelledby="offcanvasBottomLabel" data-bs-backdrop="static" #canvas>
  <div class="offcanvas-body small d-flex align-items-center">
    <div class="row">
      <div id="text-cookies" class="col-lg-6">
        Usamos cookies para melhorar sua experiência e analisar nosso tráfego. Ao clicar em "Aceitar todos", você concorda com nosso uso de cookies. Para saber mais ou gerenciar suas preferências, clique em "Configurações de Cookies".
        <a class="privacity" routerLink="/politica-de-privacidade" routerLinkActive="active">Política de Privacidade</a>
      </div>
      <div id="buttons-cookies" class="col-lg-6 d-flex justify-content-center align-items-center">
        <button class="config" #settingsCookies>Configurações de Cookies</button>
        <button class="button-cookies" #rejectCookies>Rejeitar todos</button>
        <button class="button-cookies" #acceptCookies>Aceitar todos</button>
      </div>
    </div>

    <div class="offcanvas-header">
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" id="close-cookies" #closeCookies></button>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" data-bs-backdrop="static" id="modal-cookies" aria-labelledby="header-cookies" aria-hidden="true" #modalCookies>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="header-cookies">
        <img id="logo-cookies" src="logo.png" alt="logo">
        <h5 class="modal-title">Configurações de Cookies</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-settings" #closeSettings></button>
      </div>
      <div class="modal-body">
        <label>
          A sua privacidade
          <p>Quando visita um website, este pode armazenar ou recolher informações no seu navegador, principalmente na forma de cookies. Esta informação pode ser sobre si, as suas preferências ou o seu dispositivo e é utilizada principalmente para fazer o website funcionar conforme o esperado. A informação normalmente não o identifica diretamente, mas pode dar-lhe uma experiência web mais personalizada. Uma vez que respeitamos o seu direito à privacidade, pode optar por não permitir alguns tipos de cookies. Clique nos cabeçalhos das diferentes categorias para saber mais e alterar as nossas configurações predefinidas. No entanto, o bloqueio de alguns tipos de cookies pode afetar a sua experiência no website e os serviços que podemos oferecer.
            <a class="privacity" routerLink="/politica-de-privacidade">Política de Privacidade</a>
            </p>
        </label>
        <label>
          <input type="checkbox" disabled />
          Cookies Estritamente Necessários
          <p>Estes cookies são necessários para que o website funcione e não podem ser desligados nos nossos sistemas. Normalmente, eles só são configurados em resposta a ações levadas a cabo por si e que correspondem a uma solicitação de serviços, tais como definir as suas preferências de privacidade, segurança, iniciar sessão ou preencher formulários. Pode configurar o seu navegador para bloquear ou alertá-lo(a) sobre esses cookies, mas algumas partes do website não funcionarão. Estes cookies não armazenam qualquer informação pessoal identificável.</p>
        </label>
        <label>
          <input id="checkbox-functionality" type="checkbox" (change)="handlePreferenceChange('functionality')" #checkBoxFunctionality/>
          Cookies de Funcionalidade
          <p>Estes cookies permitem que o site forneça uma funcionalidade e personalização melhoradas. Podem ser estabelecidos por nós ou por fornecedores externos cujos serviços adicionámos às nossas páginas. Se não permitir estes cookies algumas destas funcionalidades, ou mesmo todas, podem não atuar corretamente.</p>
        </label>
      </div>
      <div class="modal-footer">
        <button class="button-cookies" #saveSettingsCookies>Salvar Configurações</button>
      </div>
    </div>
  </div>
</div>
