<app-error-modal></app-error-modal>

<div class="row m-0">
  <div id="banner-login" class="col-lg-6 text-center">
    <img src="logo-branco.png" alt="logo"/>
    <h1>Nex Conta digital</h1>
    <h2>Não perca tempo e abra sua conta!</h2>
    <img id="card-image" alt="card-image" src="credit-card-image.png"/>
  </div>
  <div class="col-lg-6" id="login">
    <div class="d-flex align-items-center justify-content-end">
      <h3>Acesse sua conta</h3>
      <a routerLink="/home">
        <img id="logo-login" src="logo.png" alt="logo"/>
      </a>
    </div>
  </div>
</div>
