@import "../../../../../variables";

footer {
  background-color: $gray;

  .informations {

    h6 {
      font-weight: 600;
    }

    a {
      color: $marine-blue;
    }

    i {
      font-size: 30px;
    }

    a + a {
      margin-left: 20px;
    }
  }
}
