/*############# MENU #############*/

#navbar {
    background-color: #ECF0F1 !important;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 2px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav-item a {
    color: #2C3E50 !important;
}

.nav-item + .nav-item {
    margin-left: 20px;
}

#container-nav {
    margin: 0 30px !important;
    max-width: 100%;
}

#logo-menu {
    width: 70px;
    margin: 0 40px 0 0;
}

.dropdown-toggle::after {
    background: transparent url('images/arrow-menu.png') no-repeat center center;
    background-size: 20px;
    width: 25px;
    height: 25px;
    border: none;
    vertical-align: -20%;
}

#button-div {
    width: 100%;
    display: flex;
    justify-content: end;
}

#user-access {
    display: flex;
    border: none;
    background-color: #2C3E50;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 20px 10px 10px;
    transition: 0.2s;
}

#user-access::before {
    content: "";
    width: 30px;
    height: 25px;
    background: transparent url('images/logo-branco.png') no-repeat center center;
    background-size: 25px;
}

#user-access:hover {
    background-color: #3f5468;
}

#user-access p {
    padding-top: 1px;
}

#button-div a {
    text-decoration: none;
    color: white;
}

.dropdown-menu h6 {
    color: rgb(144, 144, 144) !important;
}

.dropdown-menu {
    padding: 30px;
}

.dropdown-menu div + div {
    margin-top: 30px;
}

.about .dropdown-menu {
    padding: 10px !important;
}

/*############# BANNER #############*/

#space {
    padding: 40px;
}

#banner {
    height: 700px;
    background-color: #2C3E50;
}

#banner-text {
    font-family: Verdana, sans-serif;
    color: white;
    font-weight: 600;
    width: 500px;
    padding: 0 0 0 40px;
}

#banner-image {
    width: 550px;
}

.white-button {
    display: inline-flex;
    align-items: center;
    border: none;
    background-color: white !important;
    color: #2C3E50 !important;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px 20px;
    width: 192px;
    margin: 30px 35px;
    position: relative;
    overflow: hidden;
    transition: padding-right 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

.white-button::before {
    content: "Abra sua conta Nex";
    transition: transform 0.3s ease-in-out;
}

.white-button::after {
    content: "";
    width: 35px;
    height: 25px;
    background: transparent url('images/arrow-button.png') no-repeat center center !important;
    background-size: 18px !important;
    position: absolute;
    right: 2px;
    opacity: 0;
    transform: translateX(10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.white-button:hover {
    width: 200px !important;
}

.white-button:hover::after {
    opacity: 1;
    transform: translateX(0);
}

.white-button:hover::before {
    transform: translateX(-4px);
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}

.floating {
    animation: float 2s ease-in-out infinite;
    z-index: 0;
}

/*############# SEÇÃO BENEFÍCIOS #############*/

.benefit {
    margin-top: 30px;
}

.benefit i {
    font-size: 50px;
}

.benefit h3 {
    font-weight: 600;
}

.benefit p {
    font-size: 18px;
    max-width: 380px;
}

#benefits-title {
    font-weight: 600;
}

/*############# SEÇÃO DÚVIDAS #############*/

#accordions {
    max-width: 700px;
}

.accordion-item, .accordion-header button {
    font-size: 17px;
}

.accordion-button:focus {
    border: none !important;
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    background-color: white;
}

#doubts-title {
    font-weight: 600;
}

/*############# MENSAGEM ABRIR CONTA #############*/

#message {
    background-color: #2C3E50;
    color: white;
}

#abrir-conta {
    border: none;
    background-color: white;
    color: #2C3E50;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    border-radius: 5px;
    padding: 11px 20px 10px;
    transition: transform 0.2s;
}

#abrir-conta:hover {
    transform: scale(1.03);
}

/*############# RODAPÉ #############*/

footer {
    background-color: #ECF0F1;
}

.informations h6 {
    font-weight: 600;
}

.informations a {
    color: #2C3E50;
}

.informations i {
    font-size: 30px;
}

.informations a + a {
    margin-left: 20px;
}

/*############# COOKIES #############*/

#canvas {
    max-height: 105px !important;
}

.offcanvas-body {
    overflow: hidden !important;
}

#buttons-cookies button + button {
    margin-left: 20px;
}

#buttons-cookies button, #modal-cookies button {
    border: none;
    color: #2C3E50;
    padding: 10px 15px;
}

#text-cookies {
    padding: 20px;
    color: rgb(144, 144, 144);
    font-size: 14px;
}

.config, .button-cookies {
    border: 1px solid #2C3E50 !important;
}

.button-cookies {
    background-color: #2C3E50 !important;
    color: white !important;
}

#privacity {
    color: rgb(144, 144, 144) !important;
    font-weight: 600;
    margin-left: 5px;
}

.btn-close:focus {
    box-shadow: none !important;
}

.modal-content {
    border-radius: 5px !important;
}

#modal-cookies input {
    margin-right: 5px;
}

#modal-cookies p {
    font-size: 11px;
    color: rgb(144, 144, 144);
}

#logo-cookies {
    width: 60px;
}

#header-cookies img + div {
    margin-left: 10px;
}

/*############# PÁGINA LOGIN #############*/

#banner-login {
    height: 100vh;
    background-color: #2C3E50;
}

i + #modal-text {
    margin-left: 15px;
}

#banner-login img {
    width: 200px;
}

#banner-login h1, #banner-login h2 {
    color: white;
}

#banner-login h1 {
    font-weight: 400;
}

#banner-login h2 {
    font-weight: 600;
}

#card-image {
    width: 79% !important;
    z-index: 0;
}

#login {
    z-index: 1;
    background-color: white;
}

#logo-login {
    width: 120px;
    margin: 20px;
}

#login h3 {
    font-weight: 600;
}

#login form input {
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #2C3E50;
    width: 400px;
}

#login form input:focus {
    outline-color: #2C3E50;
}

#login #form-login {
    width: 500px;
    margin-top: 70px !important;
}

#login form input + div {
    margin-top: 20px;
}

#login form a, #forget-pass {
    color: #3f5468;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

#login form input + input {
    margin-top: 20px;
}

#login form div + div {
    margin-top: 20px;
}

#login form p {
    margin-top: 50px;
    font-size: 14px;
}

#login form p + p {
    margin-top: 5px;
    margin-bottom: 0 !important;
}

#submit-login {
    border: none;
    border-radius: 5px;
    background-color: #2C3E50;
    color: white;
    padding: 10px 10px;
    width: 400px;
    transition: 0.2s;
    font-weight: 600;
    margin-bottom: 20px;
}

#submit-login:hover {
    background-color: #3f5468;
}

#login form .span-eye {
    cursor: pointer;
    margin-left: -35px;
}

#centralizer-link-create-account {
    width: 400px;
}

#centralizer-link-create-account h6 {
    font-weight: 600;
}

/*############# PÁGINA REGISTRO #############*/

#form-registro {
    margin-top: -20px !important;
}

#aceitar-tratar-dados {
    width: 400px;
}

#check-register {
    width: 120px !important;
    cursor: pointer;
}

input[type=checkbox] {
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
  border: 1px solid #2C3E50;
}

/*############# PÁGINA PRIVACIDADE #############*/

#privacidade-content {
    padding-top: 10px;
    width: 1000px;
}
#privacidade-content h1 {
    font-weight: 600;
}

/*############# PÁGINA LOADING #############*/

#loading-page {
    height: 100vh;
}

#loading-page .spinner-border {
    width: 3rem;
    height: 3rem;
}