<!-- ######### Página Home - Com utilização dos componentes de Menu, Canvas Cookies, Seção de Benefícios, Seção de Dúvidas e Rodapé ######### -->

<app-canvas-cookies></app-canvas-cookies>

<app-menu></app-menu>
<div id="space"></div>
<div id="banner" class="row d-flex align-items-center justify-content-center m-0">
  <div id="text" class="col-lg-6 p-5 d-flex justify-content-center">
    <div>
      <h1 id="banner-text">Sua vida financeira de uma forma mais prática</h1>
      <button class="white-button"></button>
    </div>
  </div>
  <div class="col-lg-6 text-center">
    <img id="banner-image" src="iphone.png" alt="banner-image" class="floating">
  </div>
</div>

<app-benefits></app-benefits>
<app-doubts></app-doubts>

<div class="row m-0">
  <div id="message" class="d-flex justify-content-center p-3 align-items-center">
    <h1 class="m-0"><b>Ainda não é cliente Nex?</b></h1>
    <a routerLink="/registre-se" routerLinkActive="active">
      <button id="abrir-conta" class="ms-5">ABRA SUA CONTA</button>
    </a>
  </div>
</div>
<app-footer></app-footer>

