@import "../../../../variables";
@import "../../../../buttons";
@import "../../../../animations";

/*############# BANNER #############*/

#space {
  padding: $banner-padding;
}

#banner {
  height: 700px;
  background-color: $marine-blue;

  #banner-text {
    font-family: Verdana, sans-serif;
    color: white;
    font-weight: 600;
    width: 500px;
    padding-left: $banner-padding;
  }

  #banner-image {
    width: 550px;
  }

  .white-button {
    @include base-button(white, $marine-blue, $button-font, $button-font-weight, $button-border-radius, none, $button-padding);
    display: inline-flex;
    align-items: center;
    width: 187px;
    margin: 30px 35px;
    position: relative;
    overflow: hidden;
    transition: padding-right 0.3s ease-in-out, width 0.3s ease-in-out;

    &::before {
      content: "Abra sua conta Nex";
      transition: transform 0.3s ease-in-out;
    }

    &::after {
      content: "";
      width: 35px;
      height: 25px;
      background: transparent url("./images/arrow-button.png") no-repeat center center !important;
      background-size: 18px !important;
      position: absolute;
      right: 6px;
      opacity: 0;
      transform: translateX(10px);
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    &:hover {
      width: 200px !important;
    }

    &:hover::after {
      opacity: 1;
      transform: translateX(0);
    }

    &:hover::before {
      transform: translateX(-4px);
    }
  }

  .floating {
    animation: float 2s ease-in-out infinite;
    z-index: 0;
  }
}

/*############# MENSAGEM ABRIR CONTA #############*/

#message {
  background-color: $marine-blue;
  color: white;

  #abrir-conta {
    @include base-button(white, $marine-blue, $button-font, $button-font-weight, $button-border-radius, none, $button-padding);
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.03);
    }
  }
}
