@import "../../../../variables";
@import "../../../../buttons";
@import "../../../../animations";

/*############# BANNER #############*/

#space {
  padding: $banner-padding;
}

#banner {
  height: 700px;
  background-color: $marine-blue;

  #banner-text {
    font-family: Verdana, sans-serif;
    color: white;
    font-weight: 600;
    width: 510px;
    font-size: 2em;
    padding-left: $banner-padding;
  }

  #banner-image {
    width: 550px;
  }

  .white-button {
    @include base-button(white, $marine-blue, $button-font, $button-font-weight, $button-border-radius, none, $button-padding);
    width: 215px;
    margin: 30px 35px;
    transition: all 0.5s;

    span {
      display: inline-block;
      position: relative;
      transition: 0.5s;

      &::after {
        content: "➜";
        position: absolute;
        right: -25px;
        opacity: 0;
        transition: 0.5s;
      }
    }

    &:hover {
      span {
        padding-right: 25px;

        &::after {
          opacity: 1;
          right: 0;
        }
      }
    }
  }

  .floating {
    animation: float 2s ease-in-out infinite;
    z-index: 0;
  }
}

/*############# MENSAGEM ABRIR CONTA #############*/

#message {
  background-color: $marine-blue;
  color: white;

  #abrir-conta {
    @include base-button(white, $marine-blue, $button-font, $button-font-weight, $button-border-radius, none, $button-padding);
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.03);
    }
  }
}
