<!-- ######### Seção Dúvidas da página Home ######### -->

<div class="row m-0 pt-5 mb-5 justify-content-center">
  <h1 id="doubts-title" class="text-center">Dúvidas?</h1>

  <div class="p-0 mt-3" id="accordions" ngbAccordion [closeOthers]="true">
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>
          O que é uma Conta Corrente?
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            É uma conta bancária que permite a livre movimentação dos recursos financeiros de forma eletrônica e digital ou por meio de cheque, cartão magnético e saques presenciais, sem a interferência do banco. Possibilita a realização de transações como transferências de valores, PIX, TED, depósito de cheques, débito automático, aplicação financeira, entre outras.
          </ng-template>
        </div>
      </div>
    </div>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>
          Qual a diferença entre Conta Corrente e Conta Salário?
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            A Conta Salário é aberta por iniciativa e solicitação do empregador para recebimento de salários, proventos, soldos, pensões ou similares por parte dos seus funcionários . Essa conta possui transações limitadas e não permite: cadastramento de limite de crédito, realização de investimentos, uso de cheque, adesão ao débito automático ou transferências por meio de TED/DOC ou Pix. Além disso, a transferência de qualquer valor da conta salário do BB só é permitida para conta do mesmo titular no Banco do Brasil.
          </ng-template>
        </div>
      </div>
    </div>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>
          Qual a vantagem de se ter uma Conta Corrente?
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            A Conta Corrente é uma opção completa e moderna, ideal para quem busca praticidade e agilidade no dia a dia financeiro. Com a Conta Corrente BB, além de poder receber o seu salário, você tem acesso a um amplo portfólio de produtos e serviços, como saques, Pix, transferências, TED, débito automático, depósito de cheques, pagamento de contas e boletos, empréstimos com condições especiais*, investimentos, seguros e muito mais.
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
