$marine-blue: #2C3E50;
$light-marine-blue: #3f5468;
$gray: #ECF0F1;
$dark-gray: #909090;
$black-transparent: rgba(0, 0, 0, 0.2);

$button-padding: 10px 20px;
$button-font: "Roboto", sans-serif;
$button-font-weight: 600;
$button-border-radius: 5px;
$text-weight: 600;

$banner-padding: 40px;

$sections-font-weight: 600;

$nav-padding: 30px;
$nav-margin: 30px;
$dropdown-padding: 30px;
$arrow-size: 20px;
$logo-size: 25px;

$margin-left-spacing: 20px;
$cookie-padding: 20px;
$cookie-font-size: 14px;
$modal-font-size: 11px;
$header-margin: 10px;
$logo-width: 60px;
