@import "../../../../variables";

#benefits-title {
  font-weight: $sections-font-weight;
}

.benefit {
  margin-top: 30px;

  i {
    font-size: 50px;
  }

  h3 {
    font-weight: $sections-font-weight;
  }

  p {
    font-size: 18px;
    max-width: 380px;
  }

}
