@import "../../../../../variables";
@import "../../../../../buttons";

#navbar {
  background-color: $gray !important;
  font-weight: 600;
  box-shadow: $black-transparent 1px 1px 2px 0;
  position: fixed;
  width: 100%;
  z-index: 1;

  #container-nav {
    margin: 0 $nav-margin !important;
    max-width: 100%;

    #logo-menu {
      width: 70px;
      margin: 0 40px 0 0;
    }

    .nav-item {
      .dropdown-toggle::after {
        background: transparent url('./images/arrow-menu.png') no-repeat center center;
        background-size: $arrow-size;
        width: $arrow-size + 5px;
        height: $arrow-size + 5px;
        border: none;
        vertical-align: -20%;
      }

      .dropdown-menu {
        padding: $dropdown-padding;

        h6 {
          color: $dark-gray !important;
        }

        div + div {
          margin-top: $dropdown-padding;
        }
      }
    }

    .nav-item a {
      color: $marine-blue !important;
    }

    .nav-item + .nav-item {
      margin-left: 20px;
    }

    .about {
      .dropdown-menu {
        padding: 10px !important;
      }
    }

    #basic-navbar-nav {
      #button-div {
        width: 100%;
        display: flex;
        justify-content: end;

        a {
          text-decoration: none;
          color: white;
        }

        #user-access {
          @include base-button($marine-blue, white, $button-font, 500, $button-border-radius, none, 10px 20px 10px 10px);
          display: flex;
          transition: 0.2s;

          &::before {
            content: "";
            width: $logo-size + 5px;
            height: $logo-size;
            background: transparent url('./images/logo-branco.png') no-repeat center center;
            background-size: $logo-size;
          }

          &:hover {
            background-color: $light-marine-blue;
          }

          p {
            padding-top: 1px;
          }
        }
      }
    }
  }
}
